{% extends 'shopapp/base.html' %}

{% load i18n %}

{% block title %}
  Product #{{ product.pk }}
{% endblock %}

{% block body %}
    <h1>Product: <strong>{{ product.name }}</strong></h1>

    <div>
        <div style="padding: 30px; border: 1px solid black">
                <div>Description: <em>{{ product.description }}</em></div>
                <div>Price: ${{ product.price }}</div>
                <div>Discount: {{ product.discount }}%</div>
                <div>Archive: {{ product.archived }}</div>

            {% if product.preview %}
                <div style="width: 30%; margin-top: 15px">
                    <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}" width="100%">
                </div>
            {% endif %}
        </div>

        <h3>Images:</h3>
        {% if product.images.count > 0 %}
            There is only one image available for this product.
        {% else %}
            There are {{ product.images.count }} images available for this product.
        {% endif %}

        <div style="display: flex; flex-direction: row; justify-content: space-around; margin-bottom: 30px; padding: 30px; border: 1px solid black">
            {% for img in product.images.all %}
                <div style="width: 30%;">
                    <img src="{{ img.image.url }}" alt="{{ img.image.name }}" width="100%">
                    <div>{{ img.description }}</div>
                </div>
            {% empty %}
                <div>No images uploaded yet</div>
            {% endfor %}
        </div>
    </div>

    <br>
    <div>
        <a href="{% url 'shopapp:product_update' pk=product.pk %}">Update product</a>
    </div>

    <br>
    <div>
        <a href="{% url 'shopapp:product_archive' pk=product.pk %}">Archive product</a>
    </div>

    <br>
    <div>
        <a href="{% url 'shopapp:products_list' %}">Back to products list</a>
    </div>
{% endblock %}
