{% extends 'shopapp/base.html' %}
{% load cache %}

{% block title %}
    Shop Index
{% endblock %}

{% block body %}
    <h1>Super Shop!</h1>
    <div>
        <ul>
            {% for name, price in products %}
                <li>
                    {{ name|upper }} ({{ name|length }}) for ${{ price }}
                    {% if name|length == 7 and price < 1000 %}
                        Lucky Product! New price is ${{ price|add:"-99" }}
                    {% endif %}
                </li>
            {% empty %}
                No products here
            {% endfor %}
        </ul>
    </div>
    {% cache 100 lorem %}
        <div>
            {% lorem 3 p random %}
        </div>
    {% endcache %}
{% endblock %}