{% extends 'shopapp/base.html' %}
{% load cache %}

{% block title %}
    Заказы пользователя #{{ owner.pk }}
{% endblock %}

{% block body %}
    <h1>Заказы пользователя #{{ owner.pk }}:</h1>
    {% if orders %}
        <h2>Пользователь {{ owner.username }} выполнил следующие заказы:</h2>
        {% cache 300 "user_orders_cache" owner.pk %}
            <div>
                {% for order in orders %}
                    <div style="width: 15%; margin-bottom: 30px; padding-left: 30px; border: 1px solid black">
                        <p><strong>Заказ #{{ order.pk }}</strong></p>
                        <p>Адрес доставки: {{ order.delivery_address }}</p>
                        <p>Промокод: {{ order.promocode|default:"Нет" }}</p>
                        <p>Дата создания: {{ order.created_at }}</p>
                        <p>Товары:</p>
                        <ul>
                            {% for product in order.products.all %}
                                <li>{{ product.name }} - ${{ product.price }}</li>
                            {% empty %}
                                <li>Нет товаров в этом заказе.</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        {% endcache %}
    {% else %}
        <h2>У пользователя {{ owner.username }} ещё нет заказов.</h2>
    {% endif %}
{% endblock %}