{% extends 'blogapp/base.html' %}

{% block title %}
    Articles list
{% endblock %}

{% block body %}
    <h1>Articles:</h1>

    {% if articles %}
        <div>
            {% for article in articles %}
                <div style="width: 20%; margin: 15px; padding: 15px; border: 1px solid black">
                    <p><a href="{% url 'blogapp:article' pk=article.pk %}"> {{ article.title }}</a></p>
                    <p>Published: {{ article.published_at }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3>No published articles yet</h3>
    {% endif %}

{% endblock %}
