{% extends 'blogapp/base.html' %}

{% block title %}
  Article #{{ object.pk }} details
{% endblock %}

{% block body %}
    <h1>Article</h1>
    <h2>{{ object.title }}</h2>
    <div>
        <p>Published: {{ object.published_at }}</p>
        <p>Written by {{ object.author.name }}</p>
        <p>Category: {{ object.category.name }}</p>
        <p>Content: {{ object.body }}</p>

        <div>
            Tags:
            {% for tag in object.tags.all %}
                <span>{{ tag.name }} </span>
            {% endfor %}
        </div>

        <br>
        <div>
            <a href="{% url 'blogapp:articles_list' %}">Back to articles list</a>
        </div>
    </div>
{% endblock %}
